@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');
body {
    background-color: #678992;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.img-nav {
    display: flex;
    justify-content: space-between;
}

.img-nav img {
    width: 16vh;
    margin: 1rem;
}

.container {
    margin-left: 4rem;
}

.container .heading-1 h1 {
    font-size: 4rem;
    color: #03404E;
    margin-top: -1rem;
}

.container .heading-3 h3 {
    font-size: 2.5rem;
    margin-top: -2.7rem;
    font-weight: 590;
    color: orange;
}

.container .paragraph p {
    font-size: 1.8rem;
    margin-top: -1rem;
    color: #03404E;
    font-weight: normal;
}

.container .btn button {
    padding: 0.5rem 3rem;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 7px;
    margin-top: 2rem;
}

.container .btn button:hover {
    background: orange;
}

.container .nameOfTeam {
    display: flex;
    justify-content: space-between;
}

.container .nameOfTeam h3 {
    margin-right: 3rem;
    font-size: 1.4rem;
    color: orange;
    margin-top: 6rem;
}


/*second page */

.container2 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: url("../image/bg.png");
}

.container2 nav {
    background: #0e748b;
    /* height: 10vh; */
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.allMenu {
    display: flex;
    justify-content: center;
    text-align: center;
    list-style: none;
}

.allMenu li {
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    /* color: white; */
    font-size: 1.2rem;
    font-weight: bold;
}

.allMenu li:hover {
    background: orange;
    padding: 0 1.5rem;
    color: white;
}

.container2 nav .logo {
    margin-top: 0;
    padding-top: 1rem;
    padding-left: 1rem;
    color: orange;
    font-weight: bold;
}

.container2 .mainCard {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 .mainCard .firstCard,
.secondCard {
    background: #bfe5fa5e;
    border-radius: 15px;
    margin-top: 3.5rem;
    text-align: center;
}

.container2 .mainCard .firstCard:hover {
    box-shadow: 0 0.5rem 1.5rem rgb(7, 0, 1);
}

.container2 .mainCard .secondCard:hover {
    box-shadow: 0 0.5rem 1.5rem rgb(7, 0, 1);
}

.container2 .mainCard .firstCard {
    margin-right: 2rem;
}

.container2 .mainCard .firstCard h1,
.secondCard h1 {
    font-size: 1.5rem;
    background: #0A2B32;
    padding: 10px 0;
    margin-top: -0.1rem;
    border-radius: 15px 15px 0 0;
    color: orange;
    text-align: center;
}

.container2 .mainCard .firstCard img,
.secondCard img {
    margin: 0.5rem 2.5rem;
}

.container2 .mainCard .firstCard button,
.secondCard button {
    padding: 0.5rem 3rem;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 7px;
    /* color: #FFA500; */
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.container2 .mainCard .firstCard button:hover {
    background: orange;
    color: #000;
}

.container2 .mainCard .secondCard button:hover {
    background: orange;
    color: #000;
}


/*container3  */

.container3 {
    background-color: #678992;
}

.container3 nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}


/* form */

form {
    margin-top: 7%;
    margin-bottom: 0;
}

.formQuestion form {
    margin-top: 2%;
}

.formQuestion #answer {
    font-size: 1rem;
    background: #0e748b;
    border: none;
    border-bottom: 2px solid lightslategray;
    width: 80%;
    padding: 10px;
    color: #fff;
    outline: none;
}

.answer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
}


/* input radio */

input[type='radio'] {
    transform: scale(1.2);
}


/* #checkAnswer {
    margin-top: 3%;
}
 */

.form-description,
.form-description-qu-add,
.form-description-create-qu {
    padding: 10px;
    background: #0e748b;
    border-radius: 7px;
    border-left: 10px solid orange;
    width: 50%;
    margin-left: 23%;
    display: flex;
    flex-direction: column;
}

.form-description #blank_quiz {
    font-size: 2rem;
}

#formDescription {
    font-size: 1.5rem;
}

.form-description .btn,
.blank_quiz-create-qu .btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-description .btn img {
    margin-top: 4%;
}

.underline {
    text-decoration: underline;
}

#blank_quiz,
#formDescription,
#blank_quiz-create-qu {
    background: #0e748b;
    border: none;
    border-bottom: 2px solid #fff;
    width: 80%;
    margin-left: 10%;
    padding: 10px;
    color: #fff;
    outline: none;
}

#blank_quiz-create-qu {
    font-size: 1.4rem;
}

.blank_quiz_qu_add .underline1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid#fff;
    margin-top: 5%;
}

 ::placeholder {
    color: #fff;
}

input[type='button'] {
    font-size: 20px;
    padding: 7px 25px;
    border: none;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background: orange;
    font-weight: bold;
    border-radius: 7px;
    margin-top: 2rem;
}


/* when go to test */

.container4 .headerQuestion {
    text-align: center;
    background: #e0e7e9;
    width: 55%;
    margin: 10vh auto;
    padding: 1rem;
    border-radius: 20px;
}

.container4 .boxAnswer {
    background: #0a2b32a2;
    color: white;
    width: 80%;
    margin: 4rem auto;
    padding: 2rem;
    border-left: 8px solid orange;
    border-radius: 20px;
}

.container4 .boxAnswer ul li {
    list-style: none;
    margin-top: 0.5rem;
    font-size: 1.2rem;
}

#submit {
    background: orange;
    width: 10%;
    height: 2rem;
    border-radius: 20px;
}


/* when go to test */

.container4 .headerQuestion{
    text-align: center;
    background: #e0e7e9;
    width: 55%;
    margin:10vh auto;
    padding: 1rem;

}
.container4 .boxAnswer{
    background:#0a2b32a2 ;
    color: white;
    width: 80%;
    margin: 4rem auto;
    padding: 2rem;
    border-left: 8px solid orange;
}
.container4 .boxAnswer ul li{
    list-style: none;
    margin-top: 0.5rem;
    font-size: 1.2rem;

}
#submit{
    background:orange;
    width: 10%;
    height: 2rem;
}